@scope (.Sample_K) to (.NexacroPortal) {
 @layer reset {
	 
 }

 @layer base {
	.Button {
	  border-block-start:2px solid yellow;
	  border-block-end:2px solid yellow;
	  border-inline-start:2px solid yellow;
	  border-inline-end:2px solid yellow;
	}

  }

}