.Button.btn_MF_Quick1_01
{
	border : 1px solid #ffffff;
	background : URL("./images/webp/btn_MF_Quick01.webp") no-repeat center top #ffffff;
	color : #181818;
	font : bold 13px "Malgun Gothic";
}
.Button.btn_MF_Quick1_01 .nexacontentsbox
{
	vertical-align : bottom;
	background-position-y : bottom;
}
.Button.btn_MF_Quick1_02
{
	border : 1px solid #ffffff;
	background : URL("./images/webp/btn_MF_Quick02.webp") no-repeat center top #ffffff;
	color : #181818;
	font : bold 13px "Malgun Gothic";
}
.Button.btn_MF_Quick1_02 .nexacontentsbox
{
	vertical-align : bottom;
	background-position-y : bottom;
}
.Button.btn_MF_Quick1_03
{
	border : 1px solid #ffffff;
	background : URL("./images/webp/btn_MF_Quick03.webp") no-repeat center top #ffffff;
	color : #181818;
	font : bold 13px "Malgun Gothic";
}
.Button.btn_MF_Quick1_03 .nexacontentsbox
{
	vertical-align : bottom;
	background-position-y : bottom;
}
.Div.div_WF_Sample
{
	background : URL("./images/webp/sample03.webp") no-repeat center;
}
.Static.sta_WF_Img01
{
	background : URL("./images/webp/sample01.webp") no-repeat center;
}
.Static.sta_WF_Img02
{
	background : URL("./images/webp/sample02.webp") no-repeat center;
}
.Static.sta_WF_Gif01
{
	background : URL("./images/webp/sampleGif.gif") no-repeat center;
}
.Static.sta_WF_Gif02
{
	background : URL("./images/webp/sampleGif.webp") no-repeat center;
}
#nexacontainer .Button.btn_MF_Quick1_01[data-status=focused]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick01.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_01[data-status=mouseover]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick01.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_02[data-status=focused]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick02.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_02[data-status=mouseover]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick02.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_03[data-status=focused]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick03.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_03[data-status=mouseover]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick03.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_01[data-userstatus=pushed]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick01.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_01[data-userstatus=selected]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick01.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_02[data-userstatus=pushed]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick02.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_02[data-userstatus=selected]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick02.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_03[data-userstatus=pushed]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick03.webp") no-repeat center top #ffffff;
}
#nexacontainer .Button.btn_MF_Quick1_03[data-userstatus=selected]
{
	border : 1px solid #21bdca;
	background : URL("./images/webp/btn_MF_Quick03.webp") no-repeat center top #ffffff;
}
