@scope (.KKKKKKK) to (.nexaview) {
 @layer reset {
	 
 }

 @layer base {
	.MainFrame { background:aliceblue; }

	.Grid .head {
	  border-block-start:1px;
	  border-block-end:1px;
	  border-inline-start:1px;
	  border-inline-end:1px;
	}

	.DatePickerControl .head { color:antiquewhite; }

	.Button { color:red; }

 }

 @layer state {
	:where([data-screen = "mobile_medium"]) {
	 .Button[data-userstatus=selected] {
	   font:bold 20px "Arial","Apple SD Gothic Neo","sans-serif";
	   color:#585858;
	 }
	}

  }

}